// fonts

$font-familyOpenSans: "Open Sans", sans-serif;
$font-familyMerriWeather: "Merriweather", serif;
$font-Montserrat: "Montserrat", sans-serif;

// colors

//Minion Variables


$color-main: #f8e055;
$color-second: #3673b7;
$color-third: #9f7b57;

$color-dark: #221f20;
$color-light: #ffffff;
$color-light-op: #ffffffaa;
$color-medium: #95969a;
$color-extra: #d96863;
$color-extraop: #f8e05572;

$color-grey: #d5d5d5;
$color-gunmetal: #54585a;
$color-light-grey-margins: #d8d8d8;

//
$color-dirty-blue: #438792;
$color-dark-green-blue: #114e4e;
$color-hospital-green: #a2deaf;
$color-rusty-red: #bd1010;
$color-tomato: #e95626;
$color-dried-blood: #420101;
$color-faded-orange: #eab052;
$color-slate: #3e5b65;
$color-light-grey-blue: #a0c0cf;